source_up

export RR=`pwd`
# PATH_add $RR/bin

# see aia --help for --model option
#   The format of a "model" is [provider/]model_name[=roll_id]
#   where provider and roll_id are optional
#   Use a comma to seperate the models in a multi-model setup
#
# export AIA_MODEL=claude-haiku-4-5,gpt-4o-mini
