# robot_lab_project/aia/.envrc

source_up

export RR=$(pwd)

export AIA_PLUGINS_DIR=$RR/plugins

# PATH_add $RR/bin

# see aia --help for --model option
#   The format of a "model" is [provider/]model_name[=roll_id]
#   where provider and roll_id are optional
#   Use a comma to seperate the models in a multi-model setup
#
# export AIA_MODEL=claude-haiku-4-5,gpt-4o-mini
export AIA_MODEL=ollama/qwen3.6

export BUNDLE_GEMFILE=Gemfile
